SPF is set in both TXT and SPF records

SPF record si set into both records while it should only be in a TXT record :
![image](https://user-images.githubusercontent.com/74207682/226974842-bc40a380-4fe4-4e75-bc9b-0679e24e929c.png)


[Here](https://www.rfc-editor.org/rfc/rfc7208#section-3.1) is the section 3.1 of the RFC 7208 that confirms it.

Hi, I call you again for this issue because you can just remove SPF record and it's done. It will not harm anything since SPF records have been drop more than a decade ago.